name: C
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-on-ubuntu:
    name: ${{ matrix.os }} / ${{ matrix.cc }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        cc:
          - gcc
          - clang

    env:
      CC: ${{ matrix.cc }}
      CFLAGS: -Wall -Wextra -Werror

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update &&
        sudo apt install -y libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev

    - name: Setup Raylib
      run: |
        git clone --depth 1 https://github.com/raysan5/raylib.git raylib-code
        cd raylib-code/src
        make
        sudo make install

    - name: Bootstrap nob
      run: $CC $CFLAGS -o nob nob.c

    - name: Build
      run: ./nob

    - name: Run Tests
      run: ./nob test


  build-on-macos:
    name: macos-latest / clang
    runs-on: macos-latest

    env:
      CC: clang
      CFLAGS: -Wall -Wextra -Werror

    steps:
    - uses: actions/checkout@v4

    # - name: Setup Raylib
    #   run: |
    #     git clone --depth 1 https://github.com/raysan5/raylib.git raylib-code
    #     cd raylib-code/src
    #     make
    #     sudo make install

    - name: Bootstrap nob
      run: $CC $CFLAGS -o nob nob.c

    - name: Build
      run: ./nob

    - name: Run Tests
      run: ./nob test


  build-on-windows:
    name: windows-latest / cl
    runs-on: windows-latest

    env:
      CC: cl

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSVC Environment
      uses: ilammy/msvc-dev-cmd@v1

    - name: Bootstrap nob
      run: cl /nologo /Fe:nob nob.c

    - name: Build
      run: ./nob

    - name: Run Tests
      run: ./nob test
