name: C

on:
  push:
    branches:
      - $default-branch
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Bootstrap nob
      run: cc -Werror -o nob nob.c

    - name: Build
      run: ./nob
