name: C
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.os }} / ${{ matrix.cc }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        cc:
          - gcc
          - clang
        include:
          - os: ubuntu-latest
            install: sudo apt-get update && sudo apt-get install -y libx11-dev
        exclude:
          - os: macos-latest
            cc: gcc

    env:
      CC: ${{ matrix.cc }}
      CFLAGS: -Wall -Wextra -Werror

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: ${{ matrix.install }}

    - name: Bootstrap nob
      run: $CC $CFLAGS -o nob nob.c

    - name: Build
      run: ./nob

    - name: Run Tests
      run: ./nob test

  build-on-windows:
    name: windows-latest / cl
    runs-on: windows-latest

    env:
      CC: cl

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSVC Environment
      uses: ilammy/msvc-dev-cmd@v1

    - name: Bootstrap nob
      run: cl /nologo /Fe:nob nob.c

    - name: Build
      run: ./nob

    - name: Run Tests
      run: ./nob test

  self-hosted-runner:
    name: Self Hosted Github Runner Test
    runs-on: void-latest

    env:
      CC: cc

    - name: Checkout
      uses: actions/checkout@v4

    - name: Bootstrap nob
      run: $CC -o nob nob.c

    - name: Build
      run: ./nob

    - name: Run Tests
      run: ./nob test
